<div class="page-header">
  <h1>
    Levels
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="dlgLevel()">
        Add a new level
      </button>
    </div>
  </h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Level title</th>
    <th></th>
  </tr>

  <tr ng-repeat="level in levels.objects">
    <td><a ng-click="dlgLevel(level)">{{level.title}}</a></td>
    <td>
      <div class="pull-right">
        <button class="btn btn-danger btn-xs" ng-click="remove(level.id)"><span class="glyphicon-white glyphicon glyphicon-remove"></span></button>
      </div>
    </td>
  </tr>
</table>