<div class="modal-header">
  <h3 ng-if="course">Add a new Course</h3>
  <h3 ng-if="!course">Edit Course</h3>
</div>
<div class="modal-body">


  <form role="form">
    <div class="form-group">
      <input type="text" class="form-control" id="input_title" placeholder="Title of the course" ng-model="course.title" required />
    </div>
  </form>


</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>