<div class="page-header">
  <h1>
    Groups
    <div class="pull-right">
      <!-- Button trigger modal -->
      <button class="btn btn-primary" ng-click="dlgGroup()">
        Add a new group
      </button>
    </div>
  </h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Course</th>
    <th>Level</th>
    <th>Teacher</th>
    <th>Active Students</th>
    <th></th>
  </tr>

  <tr ng-repeat="group in groups">
    <td>
      <a ng-click="dlgGroup(group)">{{group.title}}</a>
    </td>
    <td>{{group.level.course.title}}</td>
    <td>{{group.level.title}}</td>
    <td>{{group.teacher.name}}</td>
    <td>{{group.memberships.length}}</td>
    <td>
      <div class="pull-right">
        <button class="btn btn-sm btn-default" ng-click="manageStudents(group)">
          <span class="fa fa-users"> Manage students</span>
        </button>
        <button class="btn btn-sm btn-danger" ng-click="remove(group)">
          <span class="glyphicon-white glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </td>
  </tr>
</table>
