<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="user.home">Angler</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--li><a ui-sref="user.groups">Groups</a></li-->
        <li><a ui-sref="user.students">Students</a></li>
        <li><a ui-sref="user.companies">Companies</a></li>
        <li><a ui-sref="user.groups">Groups</a></li>
        <li sc-permission="ADMIN"><a ui-sref="user.staff">Staff</a></li>
        <li><a ui-sref="user.lessons">Lessons</a></li>
        <li><a ui-sref="user.administration.courses">Courses</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a xui-sref="user.settings">{{current_user.name}}</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>

    <alert ng-repeat="alert in alerts"
           type="{{alert.type}}"
           close="closeAlert($index)">{{alert.msg}}</alert>
    <div id="loadingProgressG" ng-class="{'invisible': isLoading == 0}"><div id="loadingProgressG_1" class="loadingProgressG"></div></div>

  </nav>

</div>

<div class="container">
  <div ui-view></div>
</div>
