<div class="page-header">
  <h1>
    Add a new Student
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="go('students')">
        &larr; Back
      </button>
    </div>
  </h1>
</div>

{{student}}

{{ranges}}

<form class="form-horizontal" role="form">
  <fieldset>
    <legend>Personal Information</legend>
    <div class="form-group">
      <label for="input_fname" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input_fname" placeholder="First Name" ng-model="student.fname" required />
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input_lname" placeholder="Last Name" ng-model="student.lname" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input_phone" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input_phone" placeholder="Phone number" ng-model="student.phone" />
      </div>
    </div>
    <div class="form-group">
      <label for="input_email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input_email" placeholder="Email Address" ng-model="student.email" />
      </div>
    </div>
    <div class="form-group">
      <label for="input_address" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input_address" placeholder="Physical Address" ng-model="student.address" />
      </div>
    </div>
    <div class="form-group">
      <label for="input_dob" class="col-sm-2 control-label">Date of Birth</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input_dob" placeholder="Date of Birth" sc-datepicker="years" start-view="decade" ng-model="student.dob" />
      </div>
    </div>
    <div class="form-group">
      <label for="option_male" class="col-sm-2 control-label">Gender</label>

      <div class="col-sm-1">
        <div class="radio">
          <label>
            <input type="radio" id="option_male" value="0" ng-model="student.gender" checked> Male
          </label>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="radio">
          <label>
            <input type="radio" id="option_female" value="1" ng-model="student.gender"> Female
          </label>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Student Data</legend>

    <div class="form-group">
      <label for="student.reg_date" class="col-sm-2 control-label">Date of Registration</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="student.reg_date" placeholder="Date of Registration" sc-datepicker="minutes" ng-model="student.reg_date" required />
      </div>
    </div>

    <div class="form-group">
      <label for="input_ref_type" class="col-sm-2 control-label">Referral type</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>None</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="student.ref" class="col-sm-2 control-label">Reference</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="student.ref" ng-model="student.ref">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Availability</legend>

    <div class="form-group" ng-repeat="(dayIndex, dayName) in days">
      <label for="student.availability" class="col-sm-2 control-label">{{dayName}}</label>

      <div class="col-sm-10">
        <div class="col-sm-10 form-group" ng-repeat="(availIndex, availRange) in student.availability[dayIndex]">
          <div class="col-sm-4">
            <select class="form-control input-sm" ng-model="student.availability[dayIndex][availIndex][0]" id="student.ivw_teacher">
              <option style="display:none" value="">From</option>
              <option ng-repeat="time in times" value="{{time.minute}}">{{time.time}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <select class="form-control input-sm" ng-model="student.availability[dayIndex][availIndex][1]" id="student.ivw_teacher">
              <option style="display:none" value="">To</option>
              <option ng-repeat="time in times | timeRangeFilter:student.availability[dayIndex][availIndex][0]" value="{{time.minute}}">{{time.time}}</option>
            </select>
          </div>
          <button type="button" class="btn btn-sm" ng-click="removeAvailability(dayIndex, availIndex)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>

        <button type="button" class="btn btn-sm" ng-click="addAvailability(dayIndex)">
          <span class="glyphicon glyphicon-plus"></span> Add
        </button>

      </div>

    </div>
  </fieldset>

  <fieldset>
    <legend>Interview</legend>

    <div class="form-group">
      <label for="student.ivw_teacher" class="col-sm-2 control-label">Interviewing Teacher</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="student.ivw_teacher" id="student.ivw_teacher" placeholder="Interviewer">
          <option>None</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="student.ivw_level" class="col-sm-2 control-label">Level</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="student.ivw_level" id="student.ivw_level" placeholder="Level at the time of the interview">
          <option>None</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="student.ivw_notes" class="col-sm-2 control-label">Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="student.ivw_notes" ng-model="student.ivw_notes" placeholder="Tutor interview notes"></textarea>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Notes</legend>

    <div class="form-group">
      <label for="student.notes" class="col-sm-2 control-label">General</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="student.notes" ng-model="student.notes" placeholder="General notes about the student"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="student.admin_notes" class="col-sm-2 control-label">Administrator Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="student.admin_notes" ng-model="student.admin_notes" placeholder="Administrator's notes about the student"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="student.teacher_notes" class="col-sm-2 control-label">Teacher Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="student.teacher_notes" ng-model="student.teacher_notes" placeholder="Teacher's notes about the student"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="student.previous_schools" class="col-sm-2 control-label">Previous Schools</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="student.previous_schools" ng-model="student.previous_schools" placeholder="List of schools attended before registration"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="student.needs" class="col-sm-2 control-label">Needs</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="student.needs" ng-model="student.needs" placeholder="Student needs"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="student.focus" class="col-sm-2 control-label">Learning Focus</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="student.focus" ng-model="student.focus" placeholder="Development focus"></textarea>
      </div>
    </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="registerStudent()">Register the Student</button>
      <button type="submit" class="btn" ng-click="go('students')">Cancel</button>
    </div>
  </div>
</form>
