<div class="modal-header">
  <h3>Group Student Management</h3>
</div>

<div class="modal-body">
  <h4>Active Students</h4>
  <table class="table table-condensed" ng-show="group.active_memberships.length">
    <tr ng-repeat="membership in group.active_memberships">
      <td>{{membership.student.name}}</td>
      <td>
        <div class="pull-right">
          <button class="btn btn-xs btn-danger"
                  ng-click="removeMember(group, membership)"
                  title="Remove {{membership.student.name}} from this group">
            <span class="glyphicon-white glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </td>
    </tr>
  </table>

  <h4>Former Students</h4>
  <table class="table table-condensed" ng-show="group.inactive_memberships.length">
    <tr ng-repeat="membership in group.inactive_memberships">
      <td>{{membership.student.name}}</td>
    </tr>
  </table>

  <form role="form">
    <fieldset>
      <legend>Add Student</legend>

      <div class="form-group">
        <label for="newStudent">Add a new student to the group</label>
        <select class="form-control"
                id="newStudent"
                ng-model="student"
                ng-options="student.name for student in allStudents"></select>
      </div>
      <div ng-show="student">
        <div class="form-group">
          <label for="tariff">Payment Plan</label>
          <select class="form-control"
                  id="tariff"
                  ng-model="tariff"
                  ng-options="tariff as tariff.title for tariff in tariffs"></select>
        </div>
        <div class="form-group text-center" ng-show="tariff">
          <button class="btn btn-success" ng-click="addMember(student, group, tariff)">
            <span class="fa fa-user-plus"></span>
            Add <em>{{student.name}}</em> to <em>{{group.title}}</em> using <em>{{tariff.title}}</em> payment plan
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
