<div class="modal-header">
  <h3 ng-if="level">Add a new Level</h3>
  <h3 ng-if="!level">Edit Level</h3>
</div>
<div class="modal-body">


  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label for="level_title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="level_title"
               placeholder="Title of the level"
               ng-model="level.title"
               required />
      </div>
    </div>
  </form>


</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
