<div class="modal-header">
  <h3 ng-if="!lesson.id">File a new lesson</h3>
  <h3 ng-if="lesson.id">Amend an existing lesson</h3>
</div>

{{lesson.group_id}}

<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label for="lesson_group" class="col-sm-3 control-label">Group</label>
      <div class="col-sm-9">
        <select class="form-control"
                id="lesson_group"
                ng-options="group.id as group.title for group in groups"
                ng-model="lesson.group_id"
                ng-change="populateStudents(lesson.group)"
                required>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="lesson_datetime" class="col-sm-3 control-label">Date &amp; Time</label>
      <div class="col-sm-9">
        <input type="datetime-local"
               class="form-control"
               id="lesson_datetime"
               placeholder="Date and time of the lesson"
               ng-model="lesson.time"
               required />
      </div>
    </div>

    <fieldset ng-if="lesson.group">
      <legend>Students Attendance</legend>
      <div class="form-group"
           ng-repeat="student in students | filter: isActive | orderBy:'name'">
        <label class="col-sm-3 control-label">{{student.name}}</label>
        <div class="col-sm-9">
          <button class="btn"
                  ng-class="{'btn-warning': lesson.attendance[student.id], 'btn-default': !lesson.attendance[student.id]}"
                  type="button"
                  ng-model="lesson.attendance[student.id]" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            <span ng-hide="lesson.attendance[student.id]">Present</span>
            <span ng-show="lesson.attendance[student.id]">Absent</span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
