<div class="modal-header">
  <h3 ng-if="!staff.id">Add new staff</h3>
  <h3 ng-if="staff.id">Edit staff</h3>
</div>

<div class="modal-body">
  <form role="form" class="form-horizontal">
    <fieldset>
      <legend>General</legend>
        <div class="form-group">
          <label for="staff_name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   id="staff_name"
                   placeholder="Full name of the employee"
                   ng-model="staff.name"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label for="staff_email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email"
                   class="form-control"
                   id="staff_email"
                   placeholder="Email address"
                   ng-model="staff.email"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label for="staff_password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input type="password"
                   class="form-control"
                   id="staff_password"
                   placeholder="Password"
                   ng-model="staff.password"
                   required />
          </div>
        </div>
    </fieldset>

    <fieldset>
      <legend>Personal</legend>
        <div class="form-group">
          <label for="staff_phone" class="col-sm-3 control-label">Phone</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   id="staff_phone"
                   placeholder="Phone number"
                   ng-model="staff.phone"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label for="staff_address" class="col-sm-3 control-label">Address</label>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   id="staff_address"
                   placeholder="Home address"
                   ng-model="staff.address"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label for="staff_dob" class="col-sm-3 control-label">Date of Birth</label>
          <div class="col-sm-9">
            <input type="date"
                   class="form-control"
                   id="staff_dob"
                   placeholder="Date of birth"
                   ng-model="staff.dob"
                   required />
          </div>
        </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Gender</label>
        <div class="col-sm-9">
          <label class="radio control-label checkbox-inline">
            <input type="radio" id="staff_gender_male" value="0" ng-model="staff.gender" checked> Male
          </label>
          <label class="radio control-label checkbox-inline">
            <input type="radio" id="staff_gender_female" value="1" ng-model="staff.gender"> Female
          </label>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>