<div class="page-header">
  <h1>
    Students
    <div class="pull-right">
      <!-- Button trigger modal -->
      <button class="btn btn-primary" ng-click="dlgAddStudent()">
        Add a new student
      </button>
    </div>
  </h1>
</div>

<div class="panel panel-info">
  <div class="panel-body">
    This page to display a Students stats dashboard and also feature the Add Student button, not just a paginated list
    of students.
  </div>
</div>



<table class="table table-striped">
  <tr>
    <th>Student name</th>
    <th>Email</th>
    <th></th>
  </tr>

  <tr ng-repeat="student in students.objects">
    <td><a ng-href="dlgEditStudent(student.id)">{{student.name}}</a></td>
    <td>{{student.email}}</td>
    <td>
      <div class="pull-right">
        <button class="btn btn-danger btn-xs" ng-click="remove(student.id)">
          <span class="glyphicon-white glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </td>
  </tr>
</table>