
        Rocket in the sky


        <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Single Toggle
        </button>

        <pre>{{singleModel}}</pre>

        zzz: {{zzz}}

        <!--select
            multiple="multiple"
            ng-multiple="true"
            ng-model="zzz"
            ng-options="test.id as test.name for test in tests"
            sc-multiselect>
        </select-->


        <select ui-select2 ng-model="zzz" data-placeholder="Pick a number" ng-options="test.id as test.name for test in tests">
        </select>
